<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>823708530942-det5g2mm645oaa7fcc7kcbf59l5tvh7g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.823708530942-det5g2mm645oaa7fcc7kcbf59l5tvh7g</string>
	<key>API_KEY</key>
	<string>AIzaSyB_yRd41Gb4eSLY0YLAXEPCSwZ0sp0fKCs</string>
	<key>GCM_SENDER_ID</key>
	<string>823708530942</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>makeschoolapp.classpage.com.makeschool.toDo</string>
	<key>PROJECT_ID</key>
	<string>todoproject-a881c</string>
	<key>STORAGE_BUCKET</key>
	<string>todoproject-a881c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:823708530942:ios:f1cd9091200f8e19</string>
	<key>DATABASE_URL</key>
	<string>https://todoproject-a881c.firebaseio.com</string>
</dict>
</plist>